{% extends 'base/base.html' %}
{% block title %}Create Note | Task Manager{% endblock title %}
<!-- Start Task_Manager application -->
{% block content %}
<div class="container text-center">
    <form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
        <p class="text-danger">Credentials is invalid!</p>
    {% endif %}
        <h4>Title</h4>
        <p>{{ form.title }}</p>
        <h4>Note</h4>
        <p>{{ form.note }}</p>
        <h4>Status</h4>
        <p>{{ form.status }}</p>
    <input type="submit" value="Create note" class="btn btn-primary">
    </form>
</div>
{% endblock %}