{% extends 'base/base.html' %}
{% block title %}Task Manager{% endblock title %}
{% block content %}
    <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
         {% for note in note_list %}
            <tr>
                {% if user.is_authenticated %}
                    <td><a href="{% url 'detail' note.pk %}">{{ note.title }}</a></td>
                {% else %}
                    <td>{{ note.title }}</td>
                {% endif %}
                <td>{{ note.created }}</td>
                <td>{{ note.status }}</td>
            </tr>
          </tbody>
         {% endfor %}
    </table>
{% endblock content %}